@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>
@{
    ViewBag.Title = "Help";
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
@RenderPage("~/Views/Shared/leftMenu.cshtml")
<div id="content-wrapper"  ng-controller="APICtrl">
    <div class="container-fluid">
        <div class="row">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/Admin/index">首页</a></li>
                    <li class="active">接口列表</li>
                    <a href="" ng-click="IHelp()" style="float:right"><i class="icon_question_alt2"></i>  帮助</a>
                </ol>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    接口用于调用系统后台功能
                </div>
                @foreach (var group in apiGroups.OrderBy(x => x.Key.ControllerName).ToList())
                {
                    @Html.DisplayFor(m => group, "ApiGroup")
}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	angular.module("app").controller("APICtrl", function ($location, $scope)
    {
        $scope.loading = true;

        $scope.IHelp = function () {
            var intro = introJs();
            intro.setOptions({
                nextLabel: '下一步 <i class="arrow_carrot-right"></i>',
                prevLabel: ' <i class="arrow_carrot-left"></i> 上一步',
                skipLabel: '关闭',
                doneLabel: '关闭',
                showProgress: false,
                overlayOpacity: 0.4,
                steps: [
                  {
                  	intro: '<h3>API</h3><p>这里是所有可用API的统一入口',
                  },
                  {
                      position: "bottom",
                      element: '.panel-heading',
                      intro: "<p>{0} - {1} ，controllerDocumentation - ControllerName</p>"
                  },            
                ]
            });
            intro.start();
        };
    });
</script>
